<h1>Courses</h1>

<button class="btn btn-success" (click) = "newCourse()">New Course</button>

<co-course-list-add [show]=showNewCourse></co-course-list-add>


<table>
  <tr>
    <th>Course Name</th>
    <th>Department</th>
    <th>Number</th>
    <th>Credits</th>
    <th>Professor</th>
    <th>Semester</th>
  </tr>
  <tr *ngFor="let course of courses">
    <td>{{course.name}}</td>
    <td>{{course.department}}</td>
    <td>{{course.number}}</td>
    <td>{{course.credits}}</td>
    <td>{{course.professor}}</td>
    <td>{{course.semester}}</td>
  </tr>
</table>
