<h1>Courses</h1>

<button class="btn btn-success" (click) = "newCourse()">New Course</button>

<div *ngIf="showNewCourse">
  <h2>New Course</h2>

  <div class="row">
    <div class="col-xs-12">
      <form id="shopping-list-add">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="item-name">Name</label>
            <input type="text" id="item-name" required class="form-control">
          </div>
          <div class="col-sm-2 form-group">
            <label for="item-amount">Department</label>
            <input type="text" id="item-amount" required class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-primary" type="button">Clear</button>
            <button class="btn btn-danger" type="button" (click)="cancelAdd()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<table>
  <tr>
    <th>Course Name</th>
    <th>Department</th>
    <th>Number</th>
    <th>Credits</th>
    <th>Professor</th>
    <th>Semester</th>
  </tr>
  <tr *ngFor="let course of courses">
    <td>{{course.name}}</td>
    <td>{{course.department}}</td>
    <td>{{course.number}}</td>
    <td>{{course.credits}}</td>
    <td>{{course.professor}}</td>
    <td>{{course.semester}}</td>
  </tr>
</table>
