<h1>Courses</h1>

<button class="btn btn-success" (click) = "newCourse()">New Course</button>

<div *ngIf="showNewCourse">
  <h2>New Course</h2>

  <div class="row">
    <div class="col-xs-12">
      <form id="course-list-add">
        <div class="row">
          <div class="col-sm-5 form-group">
            <label for="course-name">Name</label>
            <input type="text" id="course-name" required class="form-control">
          </div>
          <div class="col-sm-2 form-group">
            <label for="course-department">Department</label>
            <input type="text" id="item-department" required class="form-control">
          </div>
          <div class="col-sm-2 form-group">
            <label for="course-number">Number</label>
            <input type="text" id="item-number" required class="form-control">
          </div>
          <div class="col-sm-2 form-group">
            <label for="course-credits">Credits</label>
            <input type="text" id="item-credits" required class="form-control">
          </div>
          <div class="col-sm-5 form-group">
            <label for="course-professor">Professor</label>
            <input type="text" id="course-professor" required class="form-control">
          </div>
          <div class="col-sm-2 form-group">
            <label for="course-semester">Semester</label>
            <input type="text" id="item-semester" required class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-success" type="submit">Add</button>
            <button class="btn btn-primary" type="button">Clear</button>
            <button class="btn btn-danger" type="button" (click)="cancelAdd()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<table>
  <tr>
    <th>Course Name</th>
    <th>Department</th>
    <th>Number</th>
    <th>Credits</th>
    <th>Professor</th>
    <th>Semester</th>
  </tr>
  <tr *ngFor="let course of courses">
    <td>{{course.name}}</td>
    <td>{{course.department}}</td>
    <td>{{course.number}}</td>
    <td>{{course.credits}}</td>
    <td>{{course.professor}}</td>
    <td>{{course.semester}}</td>
  </tr>
</table>
